## <summary>dcdr policy</summary>
## <desc>
## <p>SELinux policy for the dcdr server/client</p>
## </desc>

########################################
## <summary>
##	Allow a domain to connect to the dcdr-server
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to connect.
##	</summary>
## </param>
#
interface(`dcdr_server_connect',`
	gen_require(`
		type dcdr_server_port_t;
	')

	corenet_tcp_connect_dcdr_server_port($1)
	allow $1 dcdr_server_port_t:tcp_socket name_connect;
')

########################################
## <summary>
##	All of the rules required to administrate
##	an dcdr-server environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed to manage the dcdr domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`dcdr_server_admin',`
	gen_require(`
		type dcdr_server_t, dcdr_server_conf_t, dcdr_server_log_t;
		type dcdr_server_exec_t;
	')

	allow $1 dcdr_server_t:process { signal_perms };
	ps_process_pattern($1, dcdr_server_t)

	tunable_policy(`deny_ptrace',`',`
		allow $1 dcdr_server_t:process ptrace;
	')

	files_search_etc($1)
	admin_pattern($1, dcdr_server_conf_t)

	logging_search_logs($1)
	admin_pattern($1, dcdr_server_log_t)

	optional_policy(`
		systemd_passwd_agent_exec($1)
		systemd_read_fifo_file_passwd_run($1)
	')
')